*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: "Oswald" , sans-serif;
}
.background{
    background-image: url(mountain.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.container h1{
    font-size: 60px;
}
.setting{
    position: absolute;
    bottom: 30px;
    right: 20px;
    align-items: center;
    gap: 1rem;
    display: flex;
}
.setting .fa-cog{
font-size: 3rem;
color: black;
}
.setting_content{
    display: flex;
    gap: 1rem;
}
.setting_content input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.setting_content button{
    padding: 0.5rem 1rem;
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}
.hide{
    display: none;
}
.time_container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.time_container h2{
    text-align: center;
    font-size: 2rem;
}

.time_container div{
    text-align: center;
    font-size: 4rem;
    color: white
}